# Exclure les fichiers de compilation lourds et temporaires de Rust
target/

# NE PAS ignorer pkg/ (nous en avons besoin pour GitHub Pages !)
!pkg/

# Exclure la configuration propre à VS Code (optionnel mais conseillé)
.vscode/

# Exclure mes vieilles versions
z_old_src/

# Exclure les fichiers système OS
.DS_Store
Thumbs.db